In [1]:
my_list = [45.4,44.2,36.8,35.1,39.0,60.0,47.4,41.1,45.8,35.6]

In [2]:
my_list[4]

39.0

In [3]:
my_list.append(55.2)

In [4]:
my_list.pop(5)

60.0

In [5]:
[x for x in my_list if x > 45]

[45.4, 47.4, 45.8, 55.2]

In [6]:
import numpy

In [7]:
npArray = numpy.array([45.4,44.2,36.8,35.1,39.0,60.0,47.4,41.1,45.8,35.6])

In [8]:
numpy.mean(npArray)

43.040000000000006

In [9]:
numpy.std(npArray)

7.0611897014596625

In [10]:
[x for x in npArray if x < 45]

[44.200000000000003,
 36.799999999999997,
 35.100000000000001,
 39.0,
 41.100000000000001,
 35.600000000000001]

In [11]:
numpy.max(npArray)

60.0

In [12]:
numpy.min(npArray)

35.100000000000001

In [13]:
import pandas

In [14]:
iris = pandas.read_csv('c:\datasets\iris.csv')

In [15]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
iris = iris.drop('Id', axis=1)

In [17]:
newIris = iris.loc[iris['Species'] == 'Iris-setosa']

In [18]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [19]:
iris.groupby('Species').describe()

                       PetalLengthCm  PetalWidthCm  SepalLengthCm  \
Species
Iris-setosa     count      50.000000     50.000000      50.000000
                mean        1.464000      0.244000       5.006000
                std         0.173511      0.107210       0.352490
                min         1.000000      0.100000       4.300000
                25%         1.400000      0.200000       4.800000
                50%         1.500000      0.200000       5.000000
                75%         1.575000      0.300000       5.200000
                max         1.900000      0.600000       5.800000
Iris-versicolor count      50.000000     50.000000      50.000000
                mean        4.260000      1.326000       5.936000
                std         0.469911      0.197753       0.516171
                min         3.000000      1.000000       4.900000
                25%         4.000000      1.200000       5.600000
                50%         4.350000      1.300000       5.900000
                75%         4.600000      1.500000       6.300000
                max         5.100000      1.800000       7.000000
Iris-virginica  count      50.000000     50.000000      50.000000
                mean        5.552000      2.026000       6.588000
                std         0.551895      0.274650       0.635880
                min         4.500000      1.400000       4.900000
                25%         5.100000      1.800000       6.225000
                50%         5.550000      2.000000       6.500000
                75%         5.875000      2.300000       6.900000
                max         6.900000      2.500000       7.900000

                       SepalWidthCm
Species
Iris-setosa     count     50.000000
                mean       3.418000
                std        0.381024
                min        2.300000
                25%        3.125000
                50%        3.400000
                75%        3.675000
                max        4.400000
Iris-versicolor count     50.000000
                mean       2.770000
                std        0.313798
                min        2.000000
                25%        2.525000
                50%        2.800000
                75%        3.000000
                max        3.400000
Iris-virginica  count     50.000000
                mean       2.974000
                std        0.322497
                min        2.200000
                25%        2.800000
                50%        3.000000
                75%        3.175000
                max        3.800000

In [23]:
iris.groupby('Species').boxplot()

NameError: name 'axes' is not defined

In [21]:
import seaborn as sns

In [22]:
sns.pairplot(iris,hue='Species')